<div class="row top">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <app-assotiative-values-table [table]="table" [chartName]="'RadarChart'" (tableChanged)="exportFromTable($event)"></app-assotiative-values-table>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h2>{{ ('shared.outputChart' | translate) || 'Output Chart' }}</h2>
    <div style="display: block">
      <canvas baseChart
        [datasets]="radarChartData"
        [options]="radarChartOptions"
        [labels]="radarChartLabels"
        [chartType]="'radar'">
      </canvas>
    </div>
  </div>
</div>