th, h2, #addBtnRow {
    text-align: center;
}

.removeColumnBtn, #downloadXmlBtn, #uploadXmlBtn {
    margin-left: 10px; 
}

.loadBtns {
    margin-top: 15px;
    text-align: center;
}

#dataTable {
    overflow-x: auto;
}

mat-spinner {
    float: right;
    margin-top: 8px;
    margin-left: 8px;
}
