<div class="row top">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <app-assotiative-values-table [table]="table" [chartName]="'LineChart'" (tableChanged)="exportFromTable($event)"></app-assotiative-values-table>
    </div>
  </div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h2>{{ ('shared.outputChart' | translate) || 'Output Chart' }}</h2>
      <div style="display: block">
        <canvas baseChart 
          [datasets]="lineChartData" 
          [labels]="lineChartLabels"
          [options]="lineChartOptions" 
          [legend]="lineChartLegend" 
          [chartType]="'line'"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
    </div>
  </div>