<div class="row top">
  <div class="col-lg-6 col-md-6 col-sm-8">
    <app-two-columns-table [table]="table" [chartName]="'PolarAreaChart'" (tableChanged)="exportFromTable($event)"></app-two-columns-table>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <h2>{{ ('shared.outputChart' | translate) || 'Output Chart' }}</h2>
    <div style="display: block">
      <canvas baseChart
        [data]="polarAreaChartData"
        [labels]="polarAreaChartLabels"
        [legend]="polarAreaLegend"
        [chartType]="'polarArea'">
      </canvas>
    </div>
  </div>
</div>